<h3>Botones normales</h3>
<div>
  <button mat-button>Boton normal</button>
  <button mat-button color="primary">Boton primario</button>
</div>

<h3>Botones con elevación</h3>
<div>
  <button mat-raised-button>Boton con elevación básico</button>
  <button mat-raised-button color="primary">Boton con elevación primario</button>
</div>


<h3>Botones con icono</h3>
<div>
  <button mat-icon-button>
    <mat-icon>
      grade
    </mat-icon>
  </button>

  <button mat-icon-button color="primary">
    <mat-icon>
      grade
    </mat-icon>
  </button>
</div>

<h3>Botones de acción flotantes (FAB)</h3>
<div>
  <button mat-fab>
    <mat-icon>
      grade
    </mat-icon>
  </button>

  <button mat-fab color="primary" (click)="onClick($event)">
    <mat-icon>
      add
    </mat-icon>
  </button>

</div>
