<div class="loader" *ngIf="!apod && !error">
  <mat-progress-spinner mode="indeterminate" align="center"></mat-progress-spinner>
</div>

<div class="card-container" *ngIf="apod">
  <mat-card class="card-content">
    <h3>Astronomy Picture of the day</h3>
    <mat-card-header>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/290px-NASA_logo.svg.png" alt="Logo de la nasa" mat-card-avatar>
      <mat-card-title>
        <b>{{apod.title}}</b>
      </mat-card-title>
      <mat-card-subtitle>
        {{apod.copyright}} - {{apod.date | date}}
      </mat-card-subtitle>
    </mat-card-header>
    <img [src]="apod.url" alt="" mat-card-image>

    <mat-card-content>
      {{apod.explanation}}
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button color="accent">
        <mat-icon>
          favorite
        </mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>
          launch
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="error" *ngIf="error">
  <mat-card>
    {{error}}
  </mat-card>
</div>
